{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>lastname</th>
        <th>Email</th>
        <th>phone</th>
    </tr>
    {% for i in sales %}
    <tr>
        <td>{{i.sid}}</td>
        <td>{{i.sfirstname}}</td>
        <td>{{i.slastname}}</td>
        <td>{{i.semail}}</td>
        <td>{{i.sphone}}</td>
        <td>
            <a href="edit/{{ i.id }} ">Edit</a>
        </td>
        <td>
            <a href="delete/{{ i.id }} ">Delete</a>
        </td>

    </tr>
    {% endfor %}
    <td>
            <a href='/'>HOME</a>
        </td>
</table>
{% endblock %}